.profile-1 {
  position: absolute;
  left: 179px;
  top: 20px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  color: #000000;
  border: 1px solid #000000; 
  box-sizing: border-box;
  padding: 11px 28px 12px 29px;
}

.profile-1 h1 {
  margin: 0;
  line-height: 1;
  font-size: 34px;
  white-space: nowrap;
}

.profile-2 {
  position: absolute;
  width: 104px;
  height: 46px;
  left: 531px;
  top: 31px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.profile-2 h2 {
  margin: 0;
  line-height: 1;
  font-size: 34px;
}

.profile-3 {
  position: absolute;
  width: 107px;
  height: 46px;
  left: 670px;
  top: 31px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  color: #000000;
}

.profile-3 h3 {
  margin: 0;
  line-height: 1;
  font-size: 34px;
}